<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./vue.js"></script>
</head>
<style>
    
</style>
<body>
    <div id="checked">
        <div>选中了{{indexs.length}}条</div>
        <table>
            <tr>
                <th><input type="checkbox" @click="checkAll" v-model="allChecked"></th>
                <th>名字</th>
                <th>年龄</th>
                <th>体重</th>
            </tr>
            <tr v-for="(data,index) in list">
                <td>
                    <input type="checkbox" :value="index" v-model="indexs">
                </td>
                <td>{{data.name}}</td>
                <td>{{data.age}}</td>
                <td>{{data.weight}}</td>
            </tr>
        </table>
    </div>
</body>

<script>

    var list = [{
        name:'Mary',
        age:17,
        weight:54,
    },{
        name:'Away',
        age:24,
        weight:65,
    },{
        name:'Ali',
        age:32,
        weight:48,
    },{
        name:'Lili',
        age:55,
        weight:60,
    }]
    new Vue({
        el:'#checked',
        data:{
            list:list,
            // 全选的默认
            allChecked:false,
            indexs:[],
        },
        methods:{
            checkAll:function(){
                var _this = this;
                if(!_this.allChecked){
                    _this.indexs = _this.list.map(function(json,index){
                        // console.log(json)
                        return index
                    })
                }else {
                    _this.indexs = []
                }
            }
        }
    })
</script>

</html>
